* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.about-us {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    padding: 90px 0;    
}

.about {
    width: 1130px;
}

.pic {
    height: auto;
    width: 302px;
    
}

.text {
    width: 540px;
}